<html>
  <head></head>
  <body>
    
    <h1>ANSIdom - a DOM implementation in ANSI escape codes</h1>
    <h2>share templates between the browser and the terminal</h2>
    
    <p>this page will render correctly in your browser AND through terminal</p>
    
    <code>
       curl ohh.io/ANSIdom
    </code>
    
    <ul>
      <li><a href="http://github.com/marak/ANSIdom">source code</a></li>
      <li><a href="http://github.com/marak/ohh">ohh.io project</a></li>
      <li><a href="http://nodejs.org">node.js</a></li>
    </ul>

    <footer>
      <a href="http://nodejitsu.com/">powered by nodejitsu</a>
    </footer>
  </body>
</html>